#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #020202;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.container{

 
  max-width: 3000rem;
  /* background-color: #fa0707; */
  color: #d62020;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  border-image: linear-gradient(to right, #fa0707, #ff8a00);
  transition: border-image-slice 0.5s;

  &:hover {
    border-image-width: 1;
    background-color: #dfe211;
    color: #ffffff;
  }

 
}